@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    font-family: 'Bebas Neue', sans-serif,'Mulish', sans-serif;}
li{
    font-family: 'Bebas Neue', sans-serif,'Mulish', sans-serif;
}
footer {
    font-family: 'Bebas Neue', sans-serif,'Mulish', sans-serif;
    margin-top: 2%;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid grey;
    letter-spacing:1px;
    
  }
  .dark-logo {
    filter: invert(1);}
